/* CSS existente */

body {
    background-color: #181a1b;
    margin: 0;
    padding: 0;
    color: #fff;
}

.navbar-toggler-icon {
    color: #955aac !important;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding-left: 15%;
    padding-right: 15px;
}

.navbar {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

.navbar-container {
    display: flex;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
}

.navcolor,
h3 {
    color: #955aac;
}

.navcolor {
    font-weight: bold;
}

.navcolor:hover {
    color: #fff;
}

.navbar-nav .nav-link:hover {
    color: white;
}

.spancolor {
    color: #955aac;
}

.container {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: column; */
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10px;
}

.navbar {
    margin-bottom: 15%;
}


.hero-section {
    margin-top: 50px;
    margin-bottom: 5%;
    font-size: 20px;
}

.hero-section h2 {
    text-align: justify;
}

/* .imagen {
    position: relative;
} */

.imagen img {
    margin: auto;
    padding: 10px 5%;
    border-bottom-right-radius: 70%;
    border-bottom-left-radius: 70%;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
}

.image {
    border: 15px solid #955aac;
    border-radius: 15%;
    padding: 0;
    margin-top: 20px;
    position: relative;
}

.content {
    position: relative;
    margin-top: 20px;
    padding: 0px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.btn-outline-warning {
    color: #955aac;
    border-color: #955aac;
    margin-top: 5px;
}

.btn-outline-warning:hover {
    color: #fff;
    background-color: #955aac;
    border-color: #955aac;
}

footer {
    background-color: #955aac;
    padding: 2rem 0;
    text-align: center;
    font-weight: bold;
}

.socialmedia {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.socialmedia a {
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 15px;
}

.text-c h2{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10%;
}

.skill-color{
    color: #955aac;
}

.bg-purple {
    background-color: #955aac !important;
}

.skill {
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    .imagen img {
        float: none;
        margin: auto;
        width: 100%;
        border-radius: 0;
    }

    .hero-section {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 16px;
    }

    .navbar-container {
        padding: 0 10px;
    }

    .container {
        padding: 0 10px;
    }
}